.home-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .navbar-container {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
  }
  
  .image-container {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: right;
    background: url('https://static.vecteezy.com/system/resources/previews/026/502/279/large_2x/beautiful-morning-on-the-jungle-taken-from-top-view-realisticgraphy-ultra-detailed-8k-natural-lighting-ai-generative-photo.jpg') no-repeat center center/cover;
  }
  .carbon-container{
    position:absolute;
    
    left:5%;
   

  }
  .quote-container {
    position: absolute;
    top: 30%;
    left: 60%;
    color: #ffffff;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .quote-container h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 0.5rem 0;
  }
  
  .quote-container p {
    font-size: 18px;
    margin: 0.5rem 0;
    text-align: justify;
  }
  
  button.projects {
    background-color: rgb(12, 218, 12);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin-top: 1rem;
  }
  
  button.projects:hover {
    background-color: lightgreen;
  }
  

  .login-container {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background: white;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
  }
  
  .login-container h2 {
    margin-bottom: 1rem;
  }
  
  .login-container input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-container button {
    background-color: rgb(6, 148, 6);
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .login-container button:hover {
    background-color: #2a806d;
  }
