
.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('https://static.vecteezy.com/system/resources/previews/026/502/279/large_2x/beautiful-morning-on-the-jungle-taken-from-top-view-realisticgraphy-ultra-detailed-8k-natural-lighting-ai-generative-photo.jpg') no-repeat center center/cover;
    padding: 40px;
    min-height: 100vh; 
    position: relative;
  }
  

  .quote-container {
    flex: 1;
    padding: 20px;
    color: #fff;
    max-width: 40%;
  }
  
  .quote-container h1 {
    margin: 0;
    font-size: 2rem;
    line-height: 1.2;
  }
  
  .quote-container p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .projects {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .projects:hover {
    background-color: #0056b3;
  }
  
  
